.StoriesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    justify-content: center;
    background: transparent;
    max-height: 60vh;
    max-width: 98%;
    margin-left: 1%;
    border-radius: 20px;
    overflow-y: auto;
    background: #ffffff;  
  
  }
  
  .storiesBox {
    width: 200px;
    height: 250px;
    background-color: #b3b3b3;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 2px black;
  }
  
  .storiesBox:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #d2d2d2;
  }
  
  .uploadLabel label {
    font-size: 16px;
    color: #5f5f5f;
    cursor: pointer;
    padding: 10px;
  }
  
  .storyImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .storyText {
    font-size: 14px;
    color: #333;
    margin-top: auto;
  }
  .addBoxContainer{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addBoxBtn {
    padding: 10px 20px;
    background-color: #416242;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
  }
  
  .addBoxBtn:hover {
    background-color: #37c03d;
    transform: translateY(-2px);
    box-shadow: 0 0 5px black;
  }
  

  .storyOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .storyContent {
    background-color: #dfddc3;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-height: 80vh;
    max-width: 600px;
    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
  }
  
  .closeButton {
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: #691313;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .closeButton:hover {
    background-color: #e63e3e;
  }
  
  .storyTextarea {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
    border: 1px solid #d4c1c1;
    border-radius: 12px;
    resize: vertical;
  }
  
  .saveButton {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2d79b8;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .saveButton:hover {
    background-color: #1976d2;
  }
  
  .storyTextDisplay {
    font-size: 16px;
    color: #444;
    margin-top: 20px;
    text-align: left;
  }
  .storyTextPreview {
    margin-top: 10px;
    font-size: 13px;
    color: #777;
    font-style: italic;
  }